/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TabBlueHeadBox;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 4;
	background-color: #1d93d4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	color: #ffffff;
	background-color: #1d93d4;
	cell-padding-left: 7px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	vertical-align: middle;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	background-color: #1d93d4;
	separator-style: none;
	separator-width: 1px;
	font-weight: 600;
	cell-padding-left: 7px;
	cell-padding-right: 2px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
}


/* Cell Styles: */
 
.TableStyle-TabBlueHeadBox
{
	border-collapse: separate;
	overflow: hidden;
	background-color: #1d93d4;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-TabBlueHeadBox-Column-Column1
{
	
}

.TableStyle-TabBlueHeadBox-HeadI-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-HeadI-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadE-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-HeadE-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadF-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-HeadF-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadH-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-HeadH-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadD-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-HeadD-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadC-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-HeadC-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadB-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-HeadB-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadA-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-HeadA-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-HeadG-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-HeadG-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootI-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-FootI-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootE-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-FootE-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootF-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-FootF-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootH-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-FootH-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootD-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-FootD-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootC-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-FootC-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootB-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-FootB-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootA-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-FootA-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-FootG-Column1-
{
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-FootG-Column1- p
{
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-Body-Body1
{
	
}

.TableStyle-TabBlueHeadBox-BodyI-Column1-Body1
{
	font-weight: 600;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-BodyI-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyE-Column1-Body1
{
	font-weight: 600;
	border-bottom-width: 1px;
	border-bottom-style: none;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-BodyE-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyF-Column1-Body1
{
	font-weight: 600;
	border-bottom-width: 1px;
	border-bottom-style: none;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-BodyF-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyH-Column1-Body1
{
	font-weight: 600;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-BodyH-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyD-Column1-Body1
{
	font-weight: 600;
	border-bottom-width: 1px;
	border-bottom-style: none;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-BodyD-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyC-Column1-Body1
{
	font-weight: 600;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-BodyC-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyB-Column1-Body1
{
	font-weight: 600;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-TabBlueHeadBox-BodyB-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyA-Column1-Body1
{
	font-weight: 600;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-BodyA-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}

.TableStyle-TabBlueHeadBox-BodyG-Column1-Body1
{
	font-weight: 600;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	background-color: #1d93d4;
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadBox-BodyG-Column1-Body1 p
{
	font-weight: 600;
	color: #ffffff;
}


